@text-color-default: #34495e;

@border-color-default: #ebedf0;
@border-radius-default: 20px;
@border-width-default: 1px;
@border-style-default: solid;

@transition-duration-default: 300ms;

@gradient-direction-default: to right;

@shadow-h-default: 0px;
@shadow-v-default: 0px;
@shadow-radius-default: 5px;
@shadow-color-default: #646566;
